@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.navbar img {
	width: 100%;
	max-width: 150px;
}
.navbar-nav li {
	padding: 10px;
}
.navbar-nav .nav-item a {
	font-weight: 600;
	font-size: 15px;
}
.navbar-nav .nav-item a:focus {
	font-weight: 600;
	font-size: 15px;
	border-bottom: 5px solid #ff9e29;
}
.navbar-nav .nav-item a:active {
	font-weight: 600;
	font-size: 15px;
	border-bottom: 5px solid #ff9e29;
}
.collapse ul {
	padding-right: 30px;
}
.banner {
	background:url('../img/banner-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.banner-img img {
	width: 100%;
}
.banner-cont p {
	color: #0a71be;
}
.banner-cont {
	padding: 10px;
}
.banner-cont a {
	text-decoration: none;
	color: #fff;
	background-color: #fd9f17;
	padding: 10px 15px;
	border-radius: 10px;
}
.about_sectore img {
	width: 100%;
}
.about_sectore p {
	color: #2172a7;
	text-transform: uppercase;
}
.about_sectore h4 {
	font-size: 30px;
	font-weight: 600;
}
.about_sectore h5 {
	font-size: 15px;
	color: #a1a1a1;
	font-weight: 300;
	line-height: 33px;
}
.head_page {
	text-align: center;
}
.head_page p {
	color: #2172a7;
} 
.card_shadow {
	padding: 25px;
	box-shadow: 1px 2px 8px #333;
	border-radius: 10px;
	border-radius: 5px;
	background-color: #fff;
}
.card_sect p, .card_sect h4, .card_sect img {
	padding: 6px 20px;
}
.card_sectore {
	background:url('../img/banner-background.jpg');
	padding: 30px;
		background-repeat: no-repeat;
	background-size: cover;
}

.portfolio_sectore {
	padding: 20px;
}
.port_card {
	margin: 20px;
	box-shadow: 1px 2px 8px #333; 
	border-radius: 10px;
}
.port_card img {
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.port_card h4 {
	font-size: 15px;
	color: #1e60f4;
}
.port_card_cont {
	padding: 20px;
}
.port_card a {
	text-decoration: none;
	color: #fff;
	padding: 7px 10px;
	border-radius: 5px;
	background-color: #1e60f4;
}
.view_more a {
	text-decoration: none;
	color: #fff;
	padding: 7px 10px;
	border-radius: 5px;
	background-color: #fc9e2c;
}
.testimonial_sectore {
	padding: 20px;
}
.test_image img {
	width: 100%;
}
.section-title h5 {
	color: #1d61f4;
}


#testimonial {
	padding: 10px 0;
  text-align: left;
}
#testimonial .item {
	display: block;
	width: 100%;
	height: auto;
}
#testimonial .item p {
	font-weight: 400;
	margin: 0 0 3px 0;
}
.coating-1 .slider .slides {
	margin: 20px auto;
}
.coating-1 {
	 position: relative;
	
}
 .coating-1 .slider .slick-dots {
	 display: flex;
	 justify-content: center;
	 list-style: none;
	 padding: 0;
}
 .coating-1 .slider .slick-dots li {
	 margin-right: 5px;
	 padding: 5px;
	 background: #000;
	 border-radius: 50%;
	 cursor: pointer;
}
.coating-1 .slider img {
    width: 100%;
    max-width: 150px;
}
.slides img {
	width: 100%;
}
 .coating-1 .slider .slick-dots li:last-child {
	 margin: 0;
}
 .coating-1 .slider .slides {
	 display: flex;
}
 .coating-1 .slider .slides img {
	 margin: 0 auto;
}
 .coating-1 .slider .arrow {
	 position: absolute;
	 top: 40%;
	 z-index: 2;
	 cursor: pointer;
	 padding: 20px;
	 background: red;
	 border-radius: 5px;
}
 .coating-1 .slider .arrow i {
	 font-size: 32px;
}
 .coating-1 .slider .arrow.prev {
	 left: -45px;
}
 .coating-1 .slider .arrow.next {
	 right: -45px;
}
.counters_sectore {
		background:url('../img/counter_background.jpg');
		background-repeat: no-repeat;
	background-size: cover;
}
.counter_cont {
	box-shadow: 1px 2px 8px #333; border-radius: 10px; border-radius: 5px;
	background-color: #fff; 
	padding: 15px;
}
.counter_cont p {
	font-size: 10px;
}
.career_cont a {
	text-decoration: none;
	color: #fff;
	padding: 7px 10px;
	border-radius: 5px;
	background-color: #f89d28;
} 
.career_cont h4 {
	color: #1e60f4;
	font-size: 15px;
}
.career_cont h5 {	
	font-size: 30px;
}
.career_cont {
	padding: 30px;
}
.view a {
	text-align: right;
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
	margin: 20px;
	background-color: #ff9e29;
}
.view {
	padding: 20px 5px;
}
.box1 {
		box-shadow: 1px 2px 8px #333; border-radius: 10px; border-radius: 5px;
	background-color: #fff; 
	padding: 15px;
	margin: 20px;
}
.box1 h5 {
	font-size: 15px !important;
	color: #1e60f4;
}
.view {
	text-align: right;
}
footer {
	background-color: #000;
	padding: 20px;
	border-bottom: 5px solid #fff;
}
.foot_left p {
	color: #fff;
	font-size: 10px;
	padding: 10px 10px;
	font-weight: 300;
}
.footer-pad a {
	text-decoration: none;
	color: #fff;
}
.foot_centr li {
	padding: 5px 0px;
	font-size: 10px;
}
.foot_right li {
	font-size: 10px;
}
.footer-pad h4 {
	color: #fff;
}
.foot_left h4 {
	color: #fff;
	font-size: 19px;
	padding: 0px 10px;
}
.foot_right {
	color: #fff;
}
.social-icons a {
	text-decoration: none;
	color: #fff;
}
.social-icons li {
	display: inline-block;
	padding: 10px;
	
}
.copyright {
	font-size: 10px;
	padding: 20px;
}
@media screen and (min-width: 756px) {
	.sideimage {
	position: absolute;
	left: -33;
	top: -33;
	right: 10;
}
.sideimage2 {
	position: absolute;
	left: -42px;
    bottom: -30px;
	right: 10;
}
.test_side_rel {
	position: relative;
}
.test-side {
	position: absolute;
	right: 24px;
    bottom: 48px;
}
.dotimage {
	position: absolute;
	right: -37px;
    top: -38px;
}
.dotimage2 {
	position: absolute;
	right: -35px;
    bottom: 201px;
}
.side_relative {
	position: relative;
}
	.banner-cont p {
		margin-top: 120px;
}
.banner-cont h4 {
	font-size: 50px;
}
.about_sectore img {
	width: 100%;
	padding: 60px;
}
.about_sectore p {
	margin-top: 40px;
}

.card_sect2 {
	margin-top: 100px;
} 
.card_sect3 {
	margin-top: 200px;
} 
.counter_cont {
	margin: 20px 70px;
	
}
.counter1 {
	margin-top: 90px;
}
}
@media screen and (max-width: 756px) {
		.sideimage {
	display: none;
}
.sideimage2 {
	display: none;
}
.dotimage {
	display: none;
}
.dotimage2 {
	display: none;
}
.side_relative {
	display: none;
}
.test-side {
	display: none;
}
}